@import "tailwindcss";

@theme inline {
  --color-primary: #151515;
  --color-secondary: #e48323;
  --color-tertiary: #9a734c;
  --color-white: #f5f5f5;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  --animate-fadeIn: fadeIn 0.3s ease-out;
  --animate-slideUp: slideUp 0.4s ease-out;
}
